<header class="flex justify-around h-24 shadow-xl sticky top-0 bg-white z-10 uppercase">
  <img src="../../../../assets/hotel-log.png" alt="logo" class="w-36 h-24" />

  <Ul class="flex gap-20 h-24 items-center content-center">
    <li
      class="text-lg hover:border-b hover:border-black cursor-pointer"
      routerLink="home"
    >
      Home
    </li>
    <li class="text-lg hover:border-b hover:border-black cursor-pointer">
      Room
    </li>
    <li class="text-lg hover:border-b hover:border-black cursor-pointer">
      Booking
    </li>
    <li class="text-lg hover:border-b hover:border-black cursor-pointer">
      About
    </li>
    <li class="text-lg hover:border-b hover:border-black cursor-pointer">
      Contact
    </li>
  </Ul>
  <ul class="flex gap-10 h-24 items-center">
    <li class="flex items-center gap-2 hover:border-b hover:border-black cursor-pointer">
      <Span>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="shopping_cart"
        >
        </mat-icon>
      </Span>
      Cart
    </li>
    <li class="flex items-center gap-2 hover:border-b hover:border-black cursor-pointer">
      <Span>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="login"
        >
        </mat-icon>
      </Span>

      SingUp/Join
    </li>
  </ul>
</header>
