<div class=" w-full px-20 py-10 flex">
  <div>
    <h1 class="uppercase text-2xl font-semibold">offer Details</h1>
    <h2 class="text-xl text-red-700 font-semibold mt-2">
      Book Early & Save With Breakfast | Up to 20% off
    </h2>
    <div class="">
      <p class="mt-2 text-lg">Being an early bird means saving BIG.</p>
      <p class="mt-2 text-lg">
        Planning your next trip? It pays to plan ahead!
      </p>
      <p class="mt-2 text-lg">
        Simply book 7 days or more in advance -
        <span class="font-bold"
          >and enjoy an exclusive discount up to 22% off our rates!</span
        >
      </p>
      <p class="mt-2 text-lg">Daily Breakfast & Complimentary WiFi included.</p>
    </div>
    <h4 class="mt-10 py-6 text-xl font-semibold text-gray-500">Key Perks</h4>
    <div class="flex flex-wrap gap-x-14 gap-y-4 ">
      <p class="text-gl py-2 flex gap-2 w-[25rem]">
        <span>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="local_dining"
            class="text-gray-500"
          >
          </mat-icon> </span
        >Complimentary Breakfast
      </p>
      <p class="text-gl py-2 flex gap-2 w-[25rem]">
        <span>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="wifi"
            class="text-gray-500"
          >
          </mat-icon> </span
        >Complimentary High Speed Wifi
      </p>
      <p class="text-gl py-2 flex gap-2 w-[25rem]">
        <span>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="bookmark"
            class="text-gray-500"
          >
          </mat-icon> </span
        >Extra Up to 12% Off For My Millennium Members
      </p>
      <p class="text-gl py-2 flex gap-2 w-[25rem]">
        <span>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="local_dining"
            class="text-gray-500"
          >
          </mat-icon> </span
        >10% Off Our Best Flexible Rate
      </p>
      <p class="text-gl py-2 flex gap-2 w-[25rem]">
        <span>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="local_dining"
            class="text-gray-500"
          >
          </mat-icon> </span
        >Flexible Cancellation (by 2pm local hotel time one day prior to arrival to avoid a one-night charge)
      </p>
    </div>
  </div>
  <div class="">
    <app-hb-form></app-hb-form>
  </div>
</div>
