/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

// @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

// $my-custom-level: mat.define-typography-level(
//   $font-family: Marcellus,
//   $font-weight: 400,
//   $font-size: 1rem,
//   $line-height: 1,
//   $letter-spacing: normal,
// );

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body { margin: 0; font-family: 'Marcellus', serif;}

// * { font-family: 'Marcellus', serif;}

.mdc-notched-outline__notch
{
  border-right: none;
}

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #fdf8e6,
    100 : #fbedc2,
    200 : #f8e199,
    300 : #f5d470,
    400 : #f3cb51,
    500 : #f1c232,
    600 : #efbc2d,
    700 : #edb426,
    800 : #ebac1f,
    900 : #dbba00,//change
    A100 : #ffffff,
    A200 : #fff4e2,
    A400 : #ffe2af,
    A700 : #ffd896,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);





$my-primary: mat.define-palette($md-mcgpalette0, 900);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);





